@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');

:root {
  --primary: rgba(1, 138, 188, 1);
  --secondary: rgba(180, 68, 127, 1);
  --third: rgba(162, 85, 156, 1);
  --blue-2: rgba(101, 116, 190, 1);
  --font-family-kameron: 'Kameron', sans-serif;
}

body {
  overflow: hidden;
}

* {
  font-family: var(--font-family-kameron);
}

.header {
  display: flex;
  min-width: 390px;
}

.logo {
  width: 65px;
  height: 65px;
}

.header h2 {
  margin: 0;
  padding-top: 5px;
  color: var(--primary);
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  align-content: center;
}

.header h3 {
  margin: 0;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 500;
  padding-top: 5px;
  text-align: center;
  align-content: center;
  width: inherit;
}

.header-right {
  font-size: 18px;
  color: var(--secondary);
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
}

.favicon {
  width: 24px;
  height: 24px;
}

.btnIcon {
  padding: 10px;
  cursor: pointer;
}

.content {
  padding: 0 20px;
  max-height: 500px;
  overflow-y: auto;
}

#loginForm {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--primary);
}

#loginForm * {
  color: white;
  font-size: 16px;
}

#loginForm input[type="password"] {
  color: initial;
  border-color: white;
  box-shadow: none;
  border-radius: 5px;
}

#loginForm input[type="submit"] {
  background-color: transparent;
  box-shadow: none;
  border-color: white;
  border-radius: 5px;
}

#errorMessage {
  color: white;
  text-decoration-color: var(--secondary);
}

.h-form {
  display: flex;
  flex-direction: row;
}

.h-form * {
  font-size: 16px;
}

.h-form input[type="text"], input[type="number"], input[type="url"] {
  width: 200px;
  color: initial;
  box-shadow: none;
  border-radius: 5px;
}

.h-form input[type="submit"] {
  background-color: var(--third);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.h-form input[type="submit"]:hover {
  background-color: lightgray;
}

.row {
  margin: 20px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.row span {
  margin-left: 10px;
}

.row b {
  color: var(--primary);
}

.screen-time {
  font-size: 15px;
}

.screen-time li {
  margin-top: 5px;
}

.screen-time span {
  color: var(--primary);
}

.sort {
  font-size: 18px;
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
  border-radius: 10px;
  border-color: lightgray;
}

.sort img {
  margin-right: 5px;
}

.slider {
  display: flex;
  width: 370px;
  height: 50px;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--primary);
  border-radius: 15px;
}

.slider-item {
  width: 50%;
  align-content: center;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  cursor: pointer;
}

.slider-active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.slider-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.protection {
  display: grid;
  justify-items: center;
}

.protection span {
  margin-bottom: 5px;
  font-size: 20px;
}

.protection img {
  cursor: pointer;
}

.btn {
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-5 {
  margin-right: 5px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.w-max {
  width: 784px;
}

.d-flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.report-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 370px;
  padding: 20px;
  margin: 10px 0;
  background-color: var(--primary);
  border-radius: 15px;
}

.report-contener span {
  color: white;
  font-size: 24px;
  text-align: center;
}

.report-contener input {
  width: 100%;
  padding: 5px;
  color: black;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.report-contener input:hover,
.report-contener input:focus {
  background-color: white;
}

.report-contener button {
  padding: 10px 20px;
  border: 2px solid white;
  background-color: var(--primary);
  color: white;
}

#report-user-add {
  background-color: var(--third);
  border-radius: 5px;
  padding: 0;
  color: white;
  font-size: 20px;
  display: flex;
  /* Toujours présent dans le flux, mais masqué par visibilité */
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
}

#report-user-add img {
  height: 20px;
}

#report-user-add span {
  line-height: 20px;
}

#return-button {
  margin-top: 30px;
  background-color: var(--primary);
  padding: 5px;
  width: 100%;
  font-size: 20px;
  color: white;
  border: none
}

.search-user-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 5px;
}

.search-user-contener span.title {
  color: var(--secondary);
  font-size: 18px;
}

#search-user-report {
  width: 95%;
  border: 2px solid var(--primary);
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 18px;
}

/* Chaque ligne de résultat organisée en 3 colonnes */
.result-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  /* 3 colonnes : 1fr pour l'utilisateur, auto pour le bouton, auto pour le nombre */
  gap: 10px;
  /* Espace entre les colonnes */
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
}

#search-results {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  height: 320px;
  display: none;
}

/* Style pour la colonne du nom d'utilisateur (avec ellipses si trop long) */
.user-label {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style pour le bouton "Signaler" */
.report-button {
  border: none;
  color: var(--secondary);
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.report-button:hover {
  background-color: var(--secondary);
  color: white;
  border-radius: 5px;
  padding: 5px;

}

/* Style pour le nombre de signalements (max 4 chiffres) */
.report-count {
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--secondary);
  color: white;
  width: 50px;
  /* Espace suffisant pour afficher 4 chiffres */
  text-align: center;
  /* Centrer le texte */
  padding: 5px;
}